.popup {
    display: none;
    background-color: white;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 3px;
    position: fixed;
    z-index: 999;
}

.word {
    color: cornflowerblue;
}

.meaning {
    color: black;
}

a {
    color: gray;
    margin-left: 5px;
}