@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.woff') format('woff');
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sinabroMiniDicSansSerif {
    font-family: 'NanumSquare', sans-serif !important;
}

.sinabroMiniDicSerif {
    font-family: 'RIDIBatang', serif !important;
}
   

.sinabroMiniDicPopup {
    display: none;
    background-color: white;
    border: solid 1px gray;
    box-shadow: 1px 1px 1px gray;
    padding: 3px;
    position: fixed;
    z-index: 999;
}

.sinabroMiniDicWord {
    color: cornflowerblue;
    margin: 0;
}

.sinabroMiniDicMeaning {
    color: black;
}

.sinabroMiniDicReadMore {
    color: gray;
    margin-left: 5px;
}